
nav h1{
    display: none;
    }

.titulo{
    font-family:Comic;
}

.borda {
   float: left;
    width: 42%;
    display: table;
    border: solid 3px rgb(142, 160, 168);
    border-radius: 10px;
    text-align: center;
    margin: 15px;
    box-sizing: border-box;
    height: 130px;
    
}
    
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

div h2{
    background-image: url("../img/fundo3.png");
}
 

div h3{
    background-image: url("../img/image1.1.png");
    color: rgb(255, 255, 255);
    font-family: Times;
}

h1{
    color:white;
}
p{
    color:white;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
