header {
    background-image: url("../img/fundo2.png");
    padding: 30px;
    font-size: 30px;
    color: white;
}

nav h1{
    display: none;
    }

nav  {
    display: block;
    width: 99%;
    background-image: url("../img/fundo3.png");
    padding: 10px;
}

nav button{

border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0%;
    background-color: #ac9d1cfd;
    padding: 15px;
    position: absolute;
    right: 3%;
    top: 29%;
	
}

.matricula{
  right: 15%;
  top: 29%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

nav a{
    color: rgba(0, 0, 0, 0.932);
    text-decoration:  none;
}

nav a:hover{
    color: #ffffff;
} 

nav li{
    display: inline-block;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s
}

nav ul{
    list-style:  none;
    text-transform: uppercase;
	font-family: garamont;

    /*left:100px;
    /*top:0px;*/
}

nav li:hover{
    background-color:#ac9d1cfd 
    
}
.nomepagina{
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
body {
    background-image: url("../img/fundo2.png");
}

footer {
    left: 0;
    
    background-image: url("../img/fundo.png");
    padding: 10px;
    text-align: center;
    color: white;
    width: 99%;
    bottom: 0;
    clear: both;
}

font, h2{
	color:white;
}
h2{
	font-family:initial;
}

li{
	color: transparent;
}

p{
font-family: Times, Times New Roman, serif;
}
