<Doctype Html!>
    <Html lang = "pt-br">
        <meta charset = "utf-8">
        <head>
<title> Coordenador </title>
<link rel="stylesheet" type="text/css" href="./css/noticias.css">
<link rel="stylesheet" type="text/css" href="./css/page.css">

        </head>

        <body>
                <header>
            
                        <img align ="left" width="200px" height="150px" src='./img/Logo.png'>
                          
                            <h1 class = "nomepagina">Focus</h1>
                   </header>
                <nav>
                <h1>Menu Principal</h1>
                <ul>
                    <li><a href="./index.html"><font>Pagina Inicial</font></a> </li>
                    <li><a href="./listaDeCursos.html"><font>Lista de Cursos</font></a> </li>
                    <li><a href="./disciplinas.html"><font>Disciplinas</font></a> </li>
                    <li><a href="./noticias.html"><font>Noticias</font></a> </li>   
                </ul>
                </nav>
                <article>
                <h2 class="titulo" align = "center"> Area Coordenador</h2>
                
                
                
                <div>
                                <div  class="box-top"> <h3>Seja bem Vindo </h3></div>
                                <div class="box-pane">
                                        <form action="/action_page.php">
                                            Competencias:<br>
                                            <input type="text" name="firstname" value="Digite a Competencia">
                                            <br>
                                            
                                            <br><br>
                                            <input type="submit" value="Submit">
                                          </form> 
                                
                               
                         
                                    
                </article>
                <footer>
                    Projeto LMS - Todos os Direitos Reservados
                </footer>
