<Doctype Html!>
    <Html lang = "pt-br">
        <meta charset = "utf-8">
        <head>
<title> Coordenador </title>
<link rel="stylesheet" type="text/css" href="./css/noticias.css">
<link rel="stylesheet" type="text/css" href="./css/page.css">

        </head>

        <body>
                <header>
            
                        <img align ="left" width="200px" height="150px" src='./img/Logo.png'>
                          
                            <h1 class = "nomepagina">Focus</h1>
                   </header>
                <nav>
                <h1>Menu Principal</h1>
                <ul>
                    <li><a href="./index.html"><font>Pagina Inicial</font></a> </li>
                    <li><a href="./listaDeCursos.html"><font>Lista de Cursos</font></a> </li>
                    <li><a href="./disciplinas.html"><font>Disciplinas</font></a> </li>
                    <li><a href="./noticias.html"><font>Noticias</font></a> </li>   
                </ul>
                </nav>
                <article>
                <h2 class="titulo" align = "center"> Area Coordenador</h2>
                
                
                
                <div>
                                <div  class="box-top"> <h3>Seja bem Vindo </h3></div>
                                <div>
                                    <form action="/action_page.php">
                                      <label for="competencias">Competencias Necessárias:</label>
                                      <input type="text" id="comp" name="campo_competencias" placeholder="Digite as Competencias..">
                                      <table >
                                        <tr>
                                          <td>
                                             <input type="submit" value="Enviar"> 
                                          </td>
                                          <td>
                                             <input type="file" />
                                       </form>
                                          </td>
                                        </tr>
                                       </table>
                                       </form>
                                    <br/>
                                  
                                      <label for="Hab">Habilidades Necessárias:</label>
                                      <input type="text" id="Hab" name="campo_Habilidade" placeholder="Digite as Habilidades..">
                                      <table >
                                        <tr>
                                          <td>
                                             <input type="submit" value="Enviar"> 
                                          </td>
                                          <td>
                                             <input type="file" />
                                       </form>
                                          </td>
                                        </tr>
                                       </table>
                                       </form>
                                    <br/>

                                      <label for="Conteudo">Conteudo Programatico:</label>
                                      <input type="text" id="CP" name="campo_conteudo" placeholder="Digite o(s) Conteudo(s)..">
                                      <table >
                                        <tr>
                                          <td>
                                             <input type="submit" value="Enviar"> 
                                          </td>
                                          <td>
                                             <input type="file" />
                                       </form>
                                          </td>
                                        </tr>
                                       </table>
                                       </form>
                                    <br/>

                                      <label for="BioBasica">Biografica Basica:</label>
                                      <input type="text" id="BB" name="campo_biobasica" placeholder="Digite a Biografia..">
                                      <table >
                                        <tr>
                                          <td>
                                             <input type="submit" value="Enviar"> 
                                          </td>
                                          <td>
                                             <input type="file" />
                                       </form>
                                          </td>
                                        </tr>
                                       </table>
                                       </form>
                                    <br/>

                                      <label for="BioComplementar">Biografica Complementar:</label>
                                      <input type="text" id="BC" name="campo_biocomplementar" placeholder="Digite a Biografia Complementar..">
                                      <table >
                                        <tr>
                                          <td>
                                             <input type="submit" value="Enviar"> 
                                          </td>
                                          <td>
                                             <input type="file" />
                                       </form>
                                          </td>
                                        </tr>
                                       </table>
                                       </form>
                                    <br/>

                                      <label for="Metodologia">Metodologia:</label>
                                      <input type="text" id="Metodo" name="campo_metodologia" placeholder="Digite a Metodologia..">
                                      <table >
                                        <tr>
                                          <td>
                                             <input type="submit" value="Enviar"> 
                                          </td>
                                          <td>
                                             <input type="file" />
                                       </form>
                                          </td>
                                        </tr>
                                       </table>
                                       </form>
                                    <br/>

                                      <label for="Recursos">Recursos Necessários:</label>
                                      <input type="text" id="Rec" name="campo_recursos" placeholder="Digite os Recursos Necessários..">
                                      <table >
                                        <tr>
                                          <td>
                                             <input type="submit" value="Enviar"> 
                                          </td>
                                          <td>
                                             <input type="file" />
                                       </form>
                                          </td>
                                        </tr>
                                       </table>
                                       </form>
                                    <br/>

                                      <label for="Avaliacao">Critério de Avaliação:</label>
                                      <input type="text" id="Critavaliacao" name="campo_avaliacao" placeholder="Digite os Critérios de Avaliação..">
                                      <table >
                                        <tr>
                                          <td>
                                             <input type="submit" value="Enviar"> 
                                          </td>
                                          <td>
                                             <input type="file" />
                                       </form>
                                          </td>
                                        </tr>
                                       </table>
                                       </form>
                                    <br/>

                                      <label for="plano"> Plano de Avaliação:</label>
                                      <input type="text" id="Planavaliacao" name="campo_plano" placeholder="Digite o plano de avaliação..">
                                      <table >
                                        <tr>
                                          <td>
                                             <input type="submit" value="Enviar"> 
                                          </td>
                                          <td>
                                             <input type="file" />
                                       </form>
                                          </td>
                                        </tr>
                                       </table>
                                       </form>
                                    <br/>

                                
                                  
                                      <label for="Curso">Selecione o Curso</label>
                                      <select id="Curso" name="country">
                                        <option value="ADM">Administração</option>
                                        <option value="ADS">Análise e Desenvolvimento de Sistema</option>
                                        <option value="BD">Banco de Dados</option>
                                        <option value="SI">Sistema da Informação</option>
                                        <option value="Jogos">Jogos Digitais</option>
                                        <option value="Redes">Redes de Computadores</option>
                                        <option value="GestaoTi">Gestão da Tecnologia da Informação</option>
                                        <option value="ProdMultimidia">Produção Multimidia</option>
                                        <option value="Sociedade">Sociedade e Sustentabilidade</option>
                                    
                                      </select>
                                      
                                     
                                 
                                
                               
                         
                                    
                </article>
                <footer>
                    Projeto LMS - Todos os Direitos Reservados
                </footer>





                
                
            
               
                </body>
