<!DOctype HTML>
<HTML lang ="pt-br">
    <meta charset= "utf-8">
<head>
    <title> Sistema da Informação - Disciplina </title>
<link rel="stylesheet" type="text/css" href="./css/noticias.css">
<link rel="stylesheet" type="text/css" href="./css/page.css">
</head>
<body>

    <header>
            
        <img align ="left" width="200px" height="150px" src='./img/Logo.png'>
          
            <h1 class = "nomepagina">Focus</h1>
   </header>
<nav>
<h1>Menu Principal</h1>
<ul>
    <li><a href="./index.html"><font>Pagina Inicial</font></a> </li>
    <li><a href="./listaDeCursos.html"><font>Lista de Cursos</font></a> </li>
    <li><a href="./disciplinas.html"><font>Disciplinas</font></a> </li>
    <li><a href="./noticias.html"><font>Noticias</font></a> </li>   
</ul>
</nav>
<article>
<h2 class="titulo" align = "center">Curso completo de Sistema da Informação</h2>

<h3 align = "center"></h3>

<div>
				<div  class="box-top"> <h3>Faculdades oferecem cada vez mais cursos que atendam às expectativas</h3></div>
				<div class="box-pane">
                <div class="box-image"> <img src="./img/SI.png" /></div>
                
                
                <br/>
                <br/>
                <br/>

                    O profissional de Sistemas de Informação administra fluxos de informação em qualquer rede de computadores, seja de empresas ou particulares, Empresas de qualquer tamanho e de diversos setores da economia fazem uso dos serviços deste profissional, sendo assim um extenso mercado de trabalho para aqueles que desejam seguir esta carreira. <br/>
                    
                    Uma das principais áreas em que este profissional atua é no desenvolvimento de software, aqueles que escolhem seguir este curso tambem cuidara de projetar e desenvolver sistemas a partir das necessidades dos usuários. Também cuida da funcionalidade de sites, garantindo que as informações possam ser acessadas de forma correta e organizada. <br/>
                    
                    O objetivo é formar profissionais capazes de atuar na área de Tecnologia da Informação, criando práticas tecnológicas para determinar o fluxo de informações com o desenvolvimento de software e no gerenciamento de sistemas informatizados. .<br/><br/>
                    
                    O Curso
                    Optando a seguir a area de Sistema da Informação terá um grande mercado pela frente, desde a desenvolver softwares, sistemas, manutenção de sistes, cuidar de fluxo de informação e gerenciar sistemas.
                    
                    
                    <div class="box-image"> <img src="./img/si.2.png" /></div>
                    
</article>
<footer>
    Projeto LMS - Todos os Direitos Reservados
</footer>

</body>    
</HTML>
