<!DOctype HTML>
<HTML lang ="pt-br">
    <meta charset= "utf-8">
<head>
    <title> Redes de Computadores - Disciplina </title>
<link rel="stylesheet" type="text/css" href="./css/noticias.css">
<link rel="stylesheet" type="text/css" href="./css/page.css">
</head>
<body>

    <header>
            
        <img align ="left" width="200px" height="150px" src='./img/Logo.png'>
          
            <h1 class = "nomepagina">Focus</h1>
   </header>
<nav>
<h1>Menu Principal</h1>
<ul>
    <li><a href="./index.html"><font>Pagina Inicial</font></a> </li>
    <li><a href="./listaDeCursos.html"><font>Lista de Cursos</font></a> </li>
    <li><a href="./disciplinas.html"><font>Disciplinas</font></a> </li>
    <li><a href="./noticias.html"><font>Noticias</font></a> </li>   
</ul>
</nav>
<article>
<h2 class="titulo" align = "center">Curso completo de Redes de Computadores</h2>

<h3 align = "center"></h3>

<div>
				<div  class="box-top"> <h3>Tenha o conhecimento crucial de como circulam os dados que estamos em contato o tempo todo.</h3></div>
				<div class="box-pane">
                <div class="box-image"> <img src="./img/image1.1.png" /></div>
                
                
                <br/>
                <br/>
                <br/>

                    Uma rede de computadores é formada por um conjunto de módulos processadores (MP's) capazes de trocar informações e compartilhar recursos, interligados por um sistema de comunicação. <br/>
                    
                    Hoje em dia estamos 24h por dia conectados a uma rede de internet, e lá podemos ter acesso ao mundo todo, tornou-se tão rotina que mal lembramos que estamos conectados a internet, e varias empresas independente do seu porte, estão cada vez mais conectadas a internet. <br/>
                    
                    Cada vez mais as empresas precisam lidar com diferentes tipos de redes, como Wi-Fi, intranet, dispositivos móveis conectados, entre outros. Com o curso de Redes de Computadores, o aluno estará preparado para analisar, projetar, instalar e administrar soluções para sistemas eficientes e seguros em projetos de redes locais e de longa distância.<br/><br/>
                    
                    O Curso
                    aquele que desejar realizar o curso de redes será capacitado a ter uma visão abrangente da área, em que vai aprender os conceitos em laboratório, desenvolver as habilidades de diagnóstico e implementar e administrar a infraestrutura e serviços de redes.
                    
                    
                    <div class="box-image"> <img src="./img/redes.png" /></div>
                    
</article>
<footer>
    Projeto LMS - Todos os Direitos Reservados
</footer>

</body>    
</HTML>
