<!DOctype HTML>
<HTML lang ="pt-br">
    <meta charset= "utf-8">
<head>
    <title> Sociedade e Sustentabilidade - disciplina </title>
<link rel="stylesheet" type="text/css" href="./css/noticias.css">
<link rel="stylesheet" type="text/css" href="./css/page.css">
</head>
<body>

    <header>
            
        <img align ="left" width="200px" height="150px" src='./img/Logo.png'>
          
            <h1 class = "nomepagina">Focus</h1>
   </header>
<nav>
<h1>Menu Principal</h1>
<ul>
    <li><a href="./index.html"><font>Pagina Inicial</font></a> </li>
    <li><a href="./listaDeCursos.html"><font>Lista de Cursos</font></a> </li>
    <li><a href="./disciplinas.html"><font>Disciplinas</font></a> </li>
    <li><a href="./noticias.html"><font>Noticias</font></a> </li>   
</ul>
</nav>
<article>
<h2 class="titulo" align = "center">Ensino a Distancia de Sociedade e Sustentabilidade</h2>

<h3 align = "center"></h3>

<div>
				<div  class="box-top"> <h3>Aprenda sobre sociedade e sustentabilidade no nosso curso EAD</h3></div>
				<div class="box-pane">
                <div class="box-image"> <img src="./img/sociedade-sustentabilidade.png" /></div>
                
                
                <br/>
                <br/>
                <br/>

                    A disciplina é baseada no conhecimento da formação da sociedade, como a sociedade se comporta hoje em dia e como ela se sustenta, a conscientização sobre os problemas sociais, etnicos e raciais. <br/>
                    
                    A nossa disciplina em EAD permite o aluno ter contato com a disciplina na hora que achar conveniente e podendo reve-la varias vezes. <br/>
                    
                    O conceito se baseia no de uma socieade sustentavel que consegue suprir suas necessidades de produção, consumo e crescimento sem comprometer as bases para o desenvolvimento das futuras gerações, tendo como maior dificuldade o fator economico pois empresas geralmente usam demasiados poluentes para poupar custos, oque afeta o meio ambiente.<br/><br/>
                    
                    O Curso: <br/>
                    O Curso é um EAD, ou seja, um Ension a Distancia, sendo assim o aluno pode ver e rever a aula e a matéria quando achar necessario, o curso prepara e conscientiza o aluno sobre a sociedade e seus problemas, sustentabilidade em relação a gastos e lucros, oque pode servir de uma grande ajuda na vida futura daquele que escolheu o Curso.
                    
                    
                    <br/>

                    <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                        </tr>
                        <tr>
                          <td>Desenho e Concept Art para Jogos</td>
                          <td>80 Horas</td>
                        </tr>
                        <tr>
                          <td>Macroeconomia</td>
                          <td>80 Horas</td>
                        
                        </tr>
                        <tr>
                            <td>Matemática Aplicada </td>
                            <td>80 Horas</td>
                            
  
                          </tr>
                          <tr>
                            <td>Modelos de Negócios e Empreendedorismo</td>
                            <td>80 Horas</td>
                            
  
                          </tr>
                          <tr>
                            <td>Pensamento Crítico e Ética</td>
                            <td>80 Horas</td>
                            
  
                          </tr>
                         
                      </table>
                      <br/>
                    <div class="box-image"> <img src="./img/EAD.jpg" /></div>
                   
</article>
<footer>
    Projeto LMS - Todos os Direitos Reservados
</footer>

</body>    
</HTML>
