<!DOctype HTML>
<HTML lang ="pt-br">
    <meta charset= "utf-8">
<head>
    <title> Jogos Digitais- Disciplina </title>
<link rel="stylesheet" type="text/css" href="./css/noticias.css">
<link rel="stylesheet" type="text/css" href="./css/page.css">
</head>
<body>

    <header>
            
        <img align ="left" width="200px" height="150px" src='./img/Logo.png'>
          
            <h1 class = "nomepagina">Focus</h1>
   </header>
<nav>
<h1>Menu Principal</h1>
<ul>
    <li><a href="./index.html"><font>Pagina Inicial</font></a> </li>
    <li><a href="./listaDeCursos.html"><font>Lista de Cursos</font></a> </li>
    <li><a href="./disciplinas.html"><font>Disciplinas</font></a> </li>
    <li><a href="./noticias.html"><font>Noticias</font></a> </li>   
</ul>
</nav>
<article>
<h2 class="titulo" align = "center">Curso completo de Jogos Digitais</h2>

<h3 align = "center"></h3>

<div>
				<div  class="box-top"> <h3>ajude a dar vida na imaginação e coloque em pratica em sua criatividade</h3></div>
				<div class="box-pane">
                <div class="box-image"> <img src="./img/image1.1.png" /></div>
                
                
                <br/>
                <br/>
                <br/>

                    Por ser uma área nova de atuação, ainda gera dúvidas, mas as oportunidades no mercado de trabalho para quem possui a formação em Jogos Digitais são inúmeras como Artista Gráfico, Desenvolvedor, Game Designer, roteirista, produtor e entre outros
                    
                    A graduação de Jogos Digitais aborda as ferramentas práticas e teóricas para o aluno que escolher cursar ter a capacidade de projetar, implementar e testar jogos. Com a criação de personagens, ambientes, objetos, interfaces, é possível aprender sobre tudo o que é necessário para criar um jogo.
                    
                    Jogos Digitais ainda é uma graduação bem recente no Brasil mas com um grande mercado de trabalho já aberto e disponivel, principalmente no exterior.<br/><br/>
                    
                    O Curso
                    Os tecnólogos em Design e Programação de Jogos podem criar jogos de vários estilos diferentes, como os de entretenimento, educativos, jogos que transmitem mensagens publicitárias ou até mesmo simuladores de treinamento profissional e empresarial, o profissional também pode aplicar técnicas de programação, áudio e elementos em 2D e 3D.
                    
                    
                    <div class="box-image"> <img src="./img/jogos.png" /></div>
                    
</article>
<footer>
    Projeto LMS - Todos os Direitos Reservados
</footer>

</body>    
</HTML>
