<!DOctype HTML>
<HTML lang ="pt-br">
    <meta charset= "utf-8">
<head>
    <title> Redes de Computadores - Disciplina </title>
<link rel="stylesheet" type="text/css" href="./css/noticias.css">
<link rel="stylesheet" type="text/css" href="./css/page.css">
</head>
<body>

    <header>
            
        <img align ="left" width="200px" height="150px" src='./img/Logo.png'>
          
            <h1 class = "nomepagina">Focus</h1>
   </header>
<nav>
<h1>Menu Principal</h1>
<ul>
    <li><a href="./index.html"><font>Pagina Inicial</font></a> </li>
    <li><a href="./listaDeCursos.html"><font>Lista de Cursos</font></a> </li>
    <li><a href="./disciplinas.html"><font>Disciplinas</font></a> </li>
    <li><a href="./noticias.html"><font>Noticias</font></a> </li>   
</ul>
</nav>
<article>
<h2 class="titulo" align = "center">Curso completo de Redes de Computadores</h2>

<h3 align = "center"></h3>

<div>
				<div  class="box-top"> <h3>Tenha o conhecimento crucial de como circulam os dados que estamos em contato o tempo todo.</h3></div>
				<div class="box-pane">
                <div class="box-image"> <img src="./img/image1.1.png" /></div>
                
                
                <br/>
                <br/>
                <br/>

                    Uma rede de computadores é formada por um conjunto de módulos processadores (MP's) capazes de trocar informações e compartilhar recursos, interligados por um sistema de comunicação. <br/>
                    
                    Hoje em dia estamos 24h por dia conectados a uma rede de internet, e lá podemos ter acesso ao mundo todo, tornou-se tão rotina que mal lembramos que estamos conectados a internet, e varias empresas independente do seu porte, estão cada vez mais conectadas a internet. <br/>
                    
                    Cada vez mais as empresas precisam lidar com diferentes tipos de redes, como Wi-Fi, intranet, dispositivos móveis conectados, entre outros. Com o curso de Redes de Computadores, o aluno estará preparado para analisar, projetar, instalar e administrar soluções para sistemas eficientes e seguros em projetos de redes locais e de longa distância.<br/><br/>
                    
                    O Curso: <br/>
                    aquele que desejar realizar o curso de redes será capacitado a ter uma visão abrangente da área, em que vai aprender os conceitos em laboratório, desenvolver as habilidades de diagnóstico e implementar e administrar a infraestrutura e serviços de redes.
                    
                    
                    <br/>
                    <p align="center">Duração:</p> 
                    <p align="center">4 (quatro) semestres.</p>

                    <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                          <th>Faltas</th>
                        </tr>
                        <tr>
                          <td>Administração de Redes e Sistemas</td>
                          <td>80 Horas</td>
                          <td>20</td>

                        </tr>
                        <tr>
                          <td>Arquitetura de Redes de Computadores</td>
                          <td>80 Horas</td>
                          <td>20</td>
                        
                        </tr>
                        <tr>
                            <td>Cabeamento Estruturado</td>
                            <td>80 Horas</td>
                            <td>20</td>
                            
  
                          </tr>
                          <tr>
                            <td>Comunicação e Expressão (EAD)</td>
                            <td>80 Horas</td>
                            <td>20</td>
                            
  
                          </tr>
                          <tr>
                            <td>Fundamentos de Sistemas Operacionais</td>
                            <td>40 Horas</td>
                            <td>10</td>
  
                          </tr>
                          <tr>
                            <td>Introdução a Internet das Coisas - IOT</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                                <td>Programação em Redes</td>
                                <td>80 Horas</td>
                                <td>20</td>
      
                              </tr>
                      </table>
                      <br/>

                      <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                          <th>Faltas</th>
                        </tr>
                        <tr>
                          <td>Administração de Redes e Sistemas Operacionais Livres</td>
                          <td>40 Horas</td>
                          <td>20</td>

                        </tr>
                        <tr>
                          <td>Ambiente de Desenvolvimento e Operação -DevOps</td>
                          <td>80 Horas</td>
                          <td>20</td>

                        </tr>
                        <tr>
                            <td>Gestão de Projetos </td>
                            <td>40 Horas</td>
                            <td>10</td>
                            
  
                          </tr>
                          <tr>
                            <td>Gestão de TI</td>
                            <td>80 Horas</td>
                            <td>20</td>
                            
  
                          </tr>
                          <tr>
                            <td>OPE1 - Oficina de Projeto Empresa 1</td>
                            <td>40 Horas</td>
                            <td>10</td>
                            
  
                          </tr>
                          <tr>
                            <td>Routing</td>
                            <td>80 Horas</td>
                            <td>20</td>
                            
  
                          </tr>
                          <tr>
                                <td>Segurança em Infraestrutura</td>
                                <td>80 Horas</td>
                                <td>20</td>
                                
      
                              </tr>
                      </table>

                    <br/>

                    <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                          <th>Faltas</th>
                        </tr>
                        <tr>
                          <td>Comunicação de Dados</td>
                          <td>40 Horas</td>
                          <td>10</td>

                        </tr>
                        <tr>
                          <td>Diagnóstico e Gerenciamento de Redes</td>
                          <td>80 Horas</td>
                          <td>20</td>
                        
                        </tr>
                        <tr>
                            <td>Legislação e Ética </td>
                            <td>40 Horas</td>
                            <td>10</td>
  
                          </tr>
                          <tr>
                            <td>OPE 2 - Oficina Projeto de Empesa 2</td>
                            <td>40 Horas</td>
                            <td>10</td>
  
                          </tr>
                          <tr>
                            <td>Redes Convergentes</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                            <td>Segurança em Sistemas</td>
                            <td>40 Horas</td>
                            <td>10</td>
  
                          </tr>
                          <tr>
                                <td>Switching</td>
                                <td>80 Horas</td>
                                <td>20</td>
      
                              </tr>
                      </table>
                    <br/>
                    <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                          <th>Faltas</th>
                        </tr>
                        <tr>
                          <td>Auditoria e Controle em TI</td>
                          <td>40 Horas</td>
                          <td>10</td>

                        </tr>
                        <tr>
                          <td>Computação em Nuvem</td>
                          <td>80 Horas</td>
                          <td>20</td>

                        
                        </tr>
                        <tr>
                            <td>Comunicações Móveis </td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                            <td>OPE 3 - Oficina Projeto de Empesa 3</td>
                            <td>120 Horas</td>
                            <td>30</td>
  
                          </tr>
                          <tr>
                            <td>Redes IPV6</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                                <td>Serviços em Redes de Computadores</td>
                                <td>80 Horas</td>
                                <td>20</td>
      
                              </tr>
                      </table>
                    <div class="box-image"> <img src="./img/redes.png" /></div>
                    
</article>
<footer>
    Projeto LMS - Todos os Direitos Reservados
</footer>

</body>    
</HTML>
