<!DOctype HTML>
<HTML lang ="pt-br">
    <meta charset= "utf-8">
<head>
    <title> Analise e Desenvolvimento de Sistema - disciplina  </title>
<link rel="stylesheet" type="text/css" href="./css/noticias.css">
<link rel="stylesheet" type="text/css" href="./css/page.css">
</head>
<body>

    <header>
            
        <img align ="left" width="200px" height="150px" src='./img/Logo.png'>
          
            <h1 class = "nomepagina">Focus</h1>
   </header>
<nav>
<h1>Menu Principal</h1>
<ul>
    <li><a href="./index.html"><font>Pagina Inicial</font></a> </li>
    <li><a href="./listaDeCursos.html"><font>Lista de Cursos</font></a> </li>
    <li><a href="./disciplinas.html"><font>Disciplinas</font></a> </li>
    <li><a href="./noticias.html"><font>Noticias</font></a> </li>   
</ul>
</nav>
<article>
<h2 class="titulo" align = "center">Curso completo de Analise e Desenvolvimento de Sistemas</h2>



<div>
				<div  class="box-top"> <h3>capacite-se no desenvolvimento de sistemas com linguagens de programação mais usadas nos dias de hoje.</h3></div>
				<div class="box-pane">
                <div class="box-image"> <img src="./img/image1.1.png" /></div>
                
               
                <br/>
                <br/>
                <br/>

                Análise de sistemas é a atividade que tem como finalidade a realização de estudos de processos a fim de encontrar o melhor caminho racional para que a informação possa ser processada. Os analistas de sistemas estudam os diversos sistemas existentes entre hardwares (equipamentos), softwares (programas) e o usuário final. <br/>

                    
                Os seus comportamentos e aplicações são desenvolvidos a partir de soluções que serão padronizadas e transcritas da forma que o computador possa executar. <br/>
                    
                O curso é voltado para a criação de programas, softwares e sistemas para as empresas. As etapas do projeto de sistemas de software, como análise, projeto, teste, gestão, implantação e manutenção de sistemas de informação também estão entre os aprendizados da graduação.<br/><br/>
                    
                    O Curso: <br/>
                   Aqueles que escolhem seguir o caminho do desenvolvimento serão preparados e treinados em procedimentos operacionais padronizados, dotados de conhecimentos do software e hardware para seu trabalho.
                    
                    

                   <br/>
                   <p align="center">Duração:</p> 
                    <p align="center">4 (quatro) semestres.</p>

                   <table>
                       <tr>
                         <th>Disciplina</th>
                         <th>Carga Horaria</th>
                         <th>Faltas</th>
                       </tr>
                       <tr>
                         <td>Fundamentos de Banco de Dados</td>
                         <td>80 Horas</td>
                         <td>20</td>
                         
                       </tr>
                       <tr>
                         <td>Introdução a Internet das Coisas - IOT</td>
                         <td>80 Horas</td>
                         <td>20</td>
                       
                       </tr>
                       <tr>
                           <td>Linguaguem de Programação I </td>
                           <td>80 Horas</td>
                           <td>20</td>
                           
 
                         </tr>
                         <tr>
                           <td>Lógica de Programação</td>
                           <td>80 Horas</td>
                           <td>20</td>
                           
 
                         </tr>
                         <tr>
                           <td>Matemática Aplicada</td>
                           <td>80 Horas</td>
                           <td>20</td>
                           
 
                         </tr>
                         
                     </table>
                     <br/>

                     <table>
                       <tr>
                         <th>Disciplina</th>
                         <th>Carga Horaria</th>
                         <th>Faltas</th>
                       </tr>
                       <tr>
                         <td>Ambiente de Desenvolvimento e Operação -DevOps</td>
                         <td>80 Horas</td>
                         <td>20</td>
                       </tr>
                       <tr>
                         <td>Engenharia de Software</td>
                         <td>80 Horas</td>
                         <td>20</td>
                       
                       </tr>
                       <tr>
                           <td>Linguagem SQL </td>
                           <td>80 Horas</td>
                           <td>20</td>
                           
 
                         </tr>
                         <tr>
                           <td>Gestão de Projetos</td>
                           <td>40 Horas</td>
                           <td>10</td>
                           
 
                         </tr>
                         <tr>
                           <td>Linguaguem de Programação II</td>
                           <td>80 Horas</td>
                           <td>20</td>
                           
 
                         </tr>
                         <tr>
                           <td>Tecnologia Web</td>
                           <td>80 Horas</td>
                           <td>20</td>
                           
 
                         </tr>
                     </table>

                   <br/>

                   <table>
                       <tr>
                         <th>Disciplina</th>
                         <th>Carga Horaria</th>
                         <th>Faltas</th>
                       </tr>
                       <tr>
                         <td>Análise e Modelagem de Sistemas</td>
                         <td>80 Horas</td>
                         <td>20</td>
                       </tr>
                       <tr>
                         <td>Desenvolvimento de Aplicações Distribuídas</td>
                         <td>80 Horas</td>
                         <td>20</td>
                       </tr>
                       <tr>
                           <td>Estrutura de Dados </td>
                           <td>80 Horas</td>
                           <td>20</td>
                           
 
                         </tr>
                         <tr>
                           <td>Interface Homem-Computador</td>
                           <td>40 Horas</td>
                           <td>10</td>
 
                         </tr>
                         <tr>
                           <td>Modelagem de Processos de Negócios</td>
                           <td>80 Horas</td>
                           <td>20</td>
                           
 
                         </tr>
                         <tr>
                           <td>OPE1 - Oficina de Projeto Empresa 1</td>
                           <td>80 Horas</td>
                           <td>20</td>
                           
 
                         </tr>
                     </table>
                   <br/>
                   <table>
                       <tr>
                         <th>Disciplina</th>
                         <th>Carga Horaria</th>
                         <th>Faltas</th>
                       </tr>
                       <tr>
                         <td>Arquitetura e Projeto de Sistemas</td>
                         <td>80 Horas</td>
                         <td>20</td>
                       </tr>
                       <tr>
                         <td>Desenvolvimento para Dispositivos Móveis</td>
                         <td>80 Horas</td>
                         <td>20</td>
                       </tr>
                       <tr>
                           <td>Desenvolvimento para Internet das Coisas - IOT </td>
                           <td>80 Horas</td>
                           <td>20</td>
 
                         </tr>
                         <tr>
                           <td>OPE 2 - Oficina Projeto de Empesa 2</td>
                           <td>80 Horas</td>
                           <td>20</td>
                           
 
                         </tr>
                         <tr>
                           <td>Qualidade de Software</td>
                           <td>80 Horas</td>
                           <td>20</td>
                           
 
                         </tr>
                       
                     </table>

                    <div class="box-image"> <img src="./img/ads.jpg" /></div>
                    
</article>
<footer>
    Projeto LMS - Todos os Direitos Reservados
</footer>

</body>    
</HTML>
