<!DOctype HTML>
<HTML lang ="pt-br">
    <meta charset= "utf-8">
<head>
    <title> Produção Multimidia - Disciplina </title>
<link rel="stylesheet" type="text/css" href="./css/noticias.css">
<link rel="stylesheet" type="text/css" href="./css/page.css">
</head>
<body>

    <header>
            
        <img align ="left" width="200px" height="150px" src='./img/Logo.png'>
          
            <h1 class = "nomepagina">Focus</h1>
   </header>
<nav>
<h1>Menu Principal</h1>
<ul>
    <li><a href="./index.html"><font>Pagina Inicial</font></a> </li>
    <li><a href="./listaDeCursos.html"><font>Lista de Cursos</font></a> </li>
    <li><a href="./disciplinas.html"><font>Disciplinas</font></a> </li>
    <li><a href="./noticias.html"><font>Noticias</font></a> </li>   
</ul>
</nav>
<article>
<h2 class="titulo" align = "center">Curso completo de Produção Multimidia</h2>

<h3 align = "center"></h3>

<div>
				<div  class="box-top"> <h3>Torne-se capaz de suprir as demandas atuais com produção de som, imagem e texto, seja criativo.</h3></div>
				<div class="box-pane">
                <div class="box-image"> <img src="./img/image1.1.png" /></div>
                
                
                <br/>
                <br/>
                <br/>

                     O curso de Produção Multimídia é voltado para os setores criativos, oferecendo ensino de qualidade e disciplinas focadas nas demandas atuais e futuras do crescente mercado das mídias convergentes (imagem, som e texto). <br/>
                    
                     O conhecimento adquirido no curso poderá ser aplicado em projetos no mercado de comunicação visual, direção de arte, design gráfico, criação de apps, conteúdos digitais para internet, infográficos e etc.<br/>   
                    
                    <br/><br/>
                    
                    O curso: <br/>
                    O curso oferece uma formação abrangente baseada na fundamentação teórica e prática para efetiva aplicação do conhecimento no campo do Design Digital, Multimídia, Artes Criativas e Comunicação. Para complementar a prática, o tecnólogo em Produção Multimídia terá à disposição laboratórios, atelier de experimentação, estúdio de fotografia e vídeo. <br/>
                    
                    
                    <br/>
                    <p align="center">Duração:</p> 
                    <p align="center">4 (quatro) semestres.</p>

                    <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                          <th>Faltas</th>
                        </tr>
                        <tr>
                          <td>Comunicação e Expressão</td>
                          <td>80 Horas</td>
                          <td>20</td>

                        </tr>
                        <tr>
                          <td>Filosofia</td>
                          <td>80 Horas</td>
                          <td>20</td>
                        
                        </tr>
                        <tr>
                            <td>Processo Criativo </td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                            <td>Storytelling</td>
                            <td>40 Horas</td>
                            <td>10</td>
  
                          </tr>
                          <tr>
                            <td>Teoria da Cor</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                            <td>Tipografia</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                      </table>
                      <br/>

                      <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                          <th>Faltas</th>
                        </tr>
                        <tr>
                          <td>Computação Gráfica</td>
                          <td>80 Horas</td>
                          <td>20</td>

                        </tr>
                        <tr>
                          <td>Fotografia Digital</td>
                          <td>80 Horas</td>
                          <td>20</td>
                        
                        </tr>
                        <tr>
                            <td>Gamificação </td>
                            <td>80 Horas</td>
                            <td>20</td>
                            
  
                          </tr>
                          <tr>
                            <td>Novas Mídias</td>
                            <td>40 Horas</td>
                            <td>10</td>
  
                          </tr>
                        
                          <tr>
                            <td>Sociedade e Sustentabilidade</td>
                            <td>40 Horas</td>
                            <td>10</td>
  
                          </tr>
                      </table>

                    <br/>

                    <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                          <th>Faltas</th>
                        </tr>
                        <tr>
                          <td>Criação e Produção Web</td>
                          <td>40 Horas</td>
                          <td>10</td>

                        </tr>
                        <tr>
                          <td>Design de Informação</td>
                          <td>40 Horas</td>
                          <td>10</td>
                        
                        </tr>
                        <tr>
                            <td>Direção de Arte </td>
                            <td>80 Horas</td>
                            <td>20</td>
                            
  
                          </tr>
                          <tr>
                            <td>Modelagem 3D</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                            <td>Produção Audiovisual</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                            <td>Semiótica</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                      </table>
                    <br/>
                    <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                          <th>Faltas</th>
                        </tr>
                        <tr>
                          <td>Aplicativo Mobile e Internet</td>
                          <td>40 Horas</td>
                          <td>10</td>

                        </tr>
                        <tr>
                          <td>Cibercultura</td>
                          <td>80 Horas</td>
                          <td>20</td>

                        </tr>
                        <tr>
                            <td>Design Thinking </td>
                            <td>40 Horas</td>
                            <td>10</td>
  
                          </tr>
                          <tr>
                            <td>Efeitos Especiais</td>
                            <td>80 Horas</td>
                            <td>20</td>
                            
  
                          </tr>
                          <tr>
                            <td>Linguagem Sonora</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                                <td>OPE (Oficina Projeto Empresa) EAD </td>
                                <td>80 Horas</td>
                                <td>20</td>
      
                              </tr>
                            
                        
                      </table>
                    <div class="box-image"> <img src="./img/prod-multimidia.png" /></div>
                    
</article>
<footer>
    Projeto LMS - Todos os Direitos Reservados
</footer>

</body>    
</HTML>
