<!DOctype HTML>
<HTML lang ="pt-br">
    <meta charset= "utf-8">
<head>
    <title> Gestão Tecnologia da Informação - Disciplina </title>
<link rel="stylesheet" type="text/css" href="./css/noticias.css">
<link rel="stylesheet" type="text/css" href="./css/page.css">
</head>
<body>

    <header>
            
        <img align ="left" width="200px" height="150px" src='./img/Logo.png'>
          
            <h1 class = "nomepagina">Focus</h1>
   </header>
<nav>
<h1>Menu Principal</h1>
<ul>
    <li><a href="./index.html"><font>Pagina Inicial</font></a> </li>
    <li><a href="./listaDeCursos.html"><font>Lista de Cursos</font></a> </li>
    <li><a href="./disciplinas.html"><font>Disciplinas</font></a> </li>
    <li><a href="./noticias.html"><font>Noticias</font></a> </li>   
</ul>
</nav>
<article>
<h2 class="titulo" align = "center">Curso completo de Gestão da Tecnologia da Informação</h2>



<div>
				<div  class="box-top"> <h3>Torne-se um gestor da infraestrutura logica com nosso Curso Superior Gestão-TI</h3></div>
				<div class="box-pane">
                <div class="box-image"> <img src="./img/image1.1.png" /></div>
                
                
                <br/>
                <br/>
                <br/>

                    
                    O Curso Superior de Tecnologia em Gestão da Tecnologia da Informação tem como objetivo formar profissionais para atuarem como gestores da infraestrutura lógica e física e dos serviços relacionados às Tecnologias da Informação e Comunicação (TIC). <br/>
                    
                    O curso tem duração de 2 anos e meio (5 semestres) e o conteúdo técnico abordado ao longo do curso irá conferir ao egresso a habilitação em Tecnólogo em Gestão da Tecnologia da Informação. <br/>

                    O curso aborda técnicas precisas que servem para executar sistemas informatizados de forma segura para os negócios através do gerenciamento de recursos de tecnologia nas organizações, entre elas software, redes de computadores, bancos de dados e ferramentas para segurança da informação.<br/><br/>
                    
                    O Curso : <br/>
                    O profissional formado em Gestão da Tecnologia da Informação (TI) poderá atuar com foco no planejamento e gestão dos recursos tecnológicos em empresas de diversos segmentos de negócios em cargos de Gestão de Serviços em TI, Engenharia de Software, Governança em TI e Gerenciamento de Projetos de TI, apto a criar soluções para problemas nas organizações, você estará apto para fazer a administração de infraestrutura física e lógica de ambientes informatizados. <br/>
                    
                    <br/>
                    <p align="center">Duração:</p> 
                    <p align="center">4 (quatro) semestres.</p>

                    <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                          <th>Faltas</th>
                        </tr>
                        <tr>
                          <td>Comunicação e Expressão (EAD)</td>
                          <td>80 Horas</td>
                          <td>20</td>

                        </tr>
                        <tr>
                          <td>Fundamentos de Banco de Dados</td>
                          <td>80 Horas</td>
                          <td>20</td>
                        </tr>
                        <tr>
                            <td>Introdução a Internet das Coisas - IOT </td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                            <td>Linguaguem de Programação I</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                            <td>Lógica de Programação</td>
                            <td>80 Horas</td>
                            <td>20</td>

                          </tr>
                          <tr>
                            <td>Matemática Aplicada</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                      </table>
                      <br/>

                      <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                          <th>Faltas</th>
                        </tr>
                        <tr>
                          <td>Ambiente de Desenvolvimento e Operação -DevOps</td>
                          <td>80 Horas</td>
                          <td>20</td>
                        </tr>
                        <tr>
                          <td>Análise Exploratória de Dados</td>
                          <td>80 Horas</td>
                          <td>20</td>

                        </tr>
                        <tr>
                            <td>Engenharia de Software </td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                            <td>Gestão Estratégica de Pessoas:</td>
                            <td>80 Horas</td>
                            <td>20</td>
                            
  
                          </tr>
                          <tr>
                            <td>Sistemas Integrados de Gestão</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                        
                      </table>

                    <br/>

                    <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                          <th>Faltas</th>
                        </tr>
                        <tr>
                          <td>Análise de Viabilidade de Projetos</td>
                          <td>80 Horas</td>
                          <td>20</td>

                        </tr>
                        <tr>
                          <td>Inteligência de Negócios</td>
                          <td>80 Horas</td>
                          <td>20</td>

                        </tr>
                        <tr>
                            <td>Modelagem de Processos de Negócios </td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          
                          <tr>
                            <td>OPE1 - Oficina de Projeto Empresa 1</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                            <td>Qualidade de Software</td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                      </table>
                    <br/>
                    <table>
                        <tr>
                          <th>Disciplina</th>
                          <th>Carga Horaria</th>
                          <th>Faltas</th>
                        </tr>
                        <tr>
                          <td>Gestão da Qualidade</td>
                          <td>80 Horas</td>
                          <td>20</td>

                        </tr>
                        <tr>
                          <td>Gestão da Segurança da Informação</td>
                          <td>80 Horas</td>
                          <td>20</td>

                        </tr>
                        <tr>
                            <td>Gestão de Infraestrutura de TI </td>
                            <td>80 Horas</td>
                            <td>20</td>
  
                          </tr>
                          <tr>
                            <td>Gestão Estratégica de TI</td>
                            <td>80 Horas</td>
                            <td>20</td>
                            
  
                          </tr>
                          <tr>
                            <td>Governança de TI</td>
                            <td>80 Horas</td>
                            <td>20</td>
                            
  
                          </tr>
                          <tr>
                            <td>OPE 2 - Oficina Projeto de Empesa 2</td>
                            <td>80 Horas</td>
                            <td>20</td>
                            
  
                          </tr>
                        
                      </table>
                    
                    <div class="box-image"> <img src="./img/gestão-TI.png" /></div>
                    
</article>
<footer>
    Projeto LMS - Todos os Direitos Reservados
</footer>

</body>    
</HTML>
