<!DOctype HTML>
<HTML lang ="pt-br">
    <meta charset= "utf-8">
<head>
    <title> Produção Multimidia - Disciplina </title>
<link rel="stylesheet" type="text/css" href="./css/noticias.css">
<link rel="stylesheet" type="text/css" href="./css/page.css">
</head>
<body>

    <header>
            
        <img align ="left" width="200px" height="150px" src='./img/Logo.png'>
          
            <h1 class = "nomepagina">Focus</h1>
   </header>
<nav>
<h1>Menu Principal</h1>
<ul>
    <li><a href="./index.html"><font>Pagina Inicial</font></a> </li>
    <li><a href="./listaDeCursos.html"><font>Lista de Cursos</font></a> </li>
    <li><a href="./disciplinas.html"><font>Disciplinas</font></a> </li>
    <li><a href="./noticias.html"><font>Noticias</font></a> </li>   
</ul>
</nav>
<article>
<h2 class="titulo" align = "center">Curso completo de Produção Multimidia</h2>

<h3 align = "center"></h3>

<div>
				<div  class="box-top"> <h3>Produza e inove com os conhecimentos necessários</h3></div>
				<div class="box-pane">
                <div class="box-image"> <img src="./img/image1.1.png" /></div>
                
                
                <br/>
                <br/>
                <br/>

                     O curso de Produção Multimídia é voltado para os setores criativos, oferecendo ensino de qualidade e disciplinas focadas nas demandas atuais e futuras do crescente mercado das mídias convergentes (imagem, som e texto). <br/>
                    
                     O conhecimento adquirido no curso poderá ser aplicado em projetos no mercado de comunicação visual, direção de arte, design gráfico, criação de apps, conteúdos digitais para internet, infográficos e etc.   
                    
                    <br/><br/>
                    
                    O curso
                    O curso oferece uma formação abrangente baseada na fundamentação teórica e prática para efetiva aplicação do conhecimento no campo do Design Digital, Multimídia, Artes Criativas e Comunicação. Para complementar a prática, o tecnólogo em Produção Multimídia terá à disposição laboratórios, atelier de experimentação, estúdio de fotografia e vídeo.
                    
                    
                    <div class="box-image"> <img src="./img/prod-multimidia.png" /></div>
                    
</article>
<footer>
    Projeto LMS - Todos os Direitos Reservados
</footer>

</body>    
</HTML>
